In [2]:
import pandas as pd
import numpy as np
import re

### Tweets sentiment & topic_modelling

In [29]:
Jan_Mar = pd.read_csv('../Twitter_Sentiments/Twitter_Jan_Mar_Sentiments.csv')
Mar = pd.read_csv('../Twitter_Sentiments/Twitter_Mar_Sentiments.csv')
May_Nov = pd.read_csv('../Twitter_Sentiments/Twitter_May_Nov_Sentiments.csv')

In [30]:
Jan_Mar_top = pd.read_csv('../Twitter_Sentiments_SpecificEmotions/Twitter_Jan_Mar_5000.csv')
Mar_top = pd.read_csv('../Twitter_Sentiments_SpecificEmotions/Twitter_Mar_5000.csv')
May_Nov_top = pd.read_csv('../Twitter_Sentiments_SpecificEmotions/Twitter_May_Nov_5000.csv')

In [31]:
Jan_Mar_tm = pd.read_csv('../Twitter_Topic_Modelling/output/jan_mar.csv')
Mar_tm = pd.read_csv('../Twitter_Topic_Modelling/output/mar.csv')
May_Nov_tm = pd.read_csv('../Twitter_Topic_Modelling/output/may_nov.csv')

In [32]:
Jan_Mar.drop(columns=['processed_text','Coordinates','Place'], inplace=True)
Mar.drop(columns=['processed_text','Coordinates','Place'], inplace=True)
May_Nov.drop(columns=['processed_text','Coordinates','Place'], inplace=True)

In [33]:
Jan_Mar[['rt_username','tag_usernames']] = pd.DataFrame([[np.nan, '']], index=Jan_Mar.index)
Mar[['rt_username','tag_usernames']] = pd.DataFrame([[np.nan, '']], index=Mar.index)
May_Nov[['rt_username','tag_usernames']] = pd.DataFrame([[np.nan, '']], index=May_Nov.index)

In [34]:
for i, row in Jan_Mar.iterrows():
    # retweets
    regex_rt = r'RT[ ]*(@[A-Za-z0-9_]+)'
    match = re.search(regex_rt, row['Text'])
    if match:
        sub_string = match.group()
        Jan_Mar.loc[i, 'rt_username'] = sub_string[4:]
    else:
        # tags
        regex_tags = r'@[A-Za-z0-9_]+'
        matches = re.findall(regex_tags, row['Text'])
        if matches:
            Jan_Mar.at[i, 'tag_usernames'] = [s[1:] for s in matches]

In [35]:
for i, row in Mar.iterrows():
    # retweets
    regex_rt = r'RT[ ]*(@[A-Za-z0-9_]+)'
    match = re.search(regex_rt, row['Text'])
    if match:
        sub_string = match.group()
        Mar.loc[i, 'rt_username'] = sub_string[4:]
    else:
        # tags
        regex_tags = r'@[A-Za-z0-9_]+'
        matches = re.findall(regex_tags, row['Text'])
        if matches:
            Mar.at[i, 'tag_usernames'] = [s[1:] for s in matches]

In [36]:
for i, row in May_Nov.iterrows():
    # retweets
    regex_rt = r'RT[ ]*(@[A-Za-z0-9_]+)'
    match = re.search(regex_rt, row['Text'])
    if match:
        sub_string = match.group()
        May_Nov.loc[i, 'rt_username'] = sub_string[4:]
    else:
        # tags
        regex_tags = r'@[A-Za-z0-9_]+'
        matches = re.findall(regex_tags, row['Text'])
        if matches:
            May_Nov.at[i, 'tag_usernames'] = [s[1:] for s in matches]

In [37]:
Jan_Mar['tag_usernames'] = Jan_Mar['tag_usernames'].replace('', np.nan)
Mar['tag_usernames'] = Mar['tag_usernames'].replace('', np.nan)
May_Nov['tag_usernames'] = May_Nov['tag_usernames'].replace('', np.nan)

In [38]:
May_Nov_tm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          5001 non-null   int64
 1   Document_No         5001 non-null   int64
 2   Dominant_Topic      5001 non-null   float64
 3   Topic_Perc_Contrib  5001 non-null   float64
 4   Keywords            5001 non-null   object
 5   Text                5001 non-null   object
dtypes: float64(2), int64(2), object(2)
memory usage: 234.5+ KB

In [39]:
Jan_Mar[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = Jan_Mar_top[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]
Mar[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = Mar_top[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]
May_Nov[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = May_Nov_top[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]

In [40]:
Jan_Mar[['Dominant_Topic','Topic_Perc_Contrib','Keywords']] = Jan_Mar_tm[['Dominant_Topic','Topic_Perc_Contrib','Keywords']]
Mar[['Dominant_Topic','Topic_Perc_Contrib','Keywords']] = Mar_tm[['Dominant_Topic','Topic_Perc_Contrib','Keywords']]
May_Nov[['Dominant_Topic','Topic_Perc_Contrib','Keywords']] = May_Nov_tm[['Dominant_Topic','Topic_Perc_Contrib','Keywords']]

In [31]:
May_Nov.head(1)

,Tweet Id,Text,Username,sentiment_score,sentiment_label,rt_username,tag_usernames,Datetime,top_emotion,top_emotion_score,second_emotion,second_emotion_score,third_emotion,third_emotion_score,Dominant_Topic,Topic_Perc_Contrib,Keywords
0,1333198979224399873,@nspector4 @keithbaldrey France initiated dras...,Teelin,0.0,neutral,NaN,"[nspector4, keithbaldrey]",2020-11-29 23:59:40+00:00,realization,0.995364,approval,0.002405,neutral,0.000781,2.0,0.3965,"right, catch, people, need, case, go, due, say..."

In [41]:
tweet_dfs = [Jan_Mar, Mar, May_Nov]
tweet = pd.concat(tweet_dfs, ignore_index=True)

In [42]:
tweet.columns = (tweet.columns.str.replace(' ', '_', regex=True).str.lower())

In [43]:
tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11337 entries, 0 to 11336
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              11337 non-null  object
 1   tweet_id              11337 non-null  int64
 2   text                  11337 non-null  object
 3   username              11337 non-null  object
 4   sentiment_score       11337 non-null  float64
 5   sentiment_label       11337 non-null  object
 6   rt_username           23 non-null     object
 7   tag_usernames         3617 non-null   object
 8   top_emotion           11337 non-null  object
 9   top_emotion_score     11337 non-null  float64
 10  second_emotion        11337 non-null  object
 11  second_emotion_score  11337 non-null  float64
 12  third_emotion         11337 non-null  object
 13  third_emotion_score   11337 non-null  float64
 14  dominant_topic        11337 non-null  float64
 15  topic_perc_contrib    11337 non-null  float64
 16  keywords              11337 non-null  object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.5+ MB

In [44]:
# May_Nov["Place"][May_Nov["Place"].isnull() == False][31]
# May_Nov[May_Nov["Place"].isnull() == False]['Place'] = May_Nov[May_Nov["Place"].isnull() == False]['Place'].str.replace({'Place': '', '(': '{', ')': '}', '=': ':'}, regex=True)

In [45]:
tweet.to_json('./tweets_upload.json', orient="records")

### Reddit

In [89]:
r1 = pd.read_csv('../Reddit_Sentiments/antilockdown_sentiments.csv')
r2 = pd.read_csv('../Reddit_Sentiments/corona_sentiments.csv')
r3 = pd.read_csv('../Reddit_Sentiments/covid19_sentiments.csv')

In [90]:
r1_top = pd.read_csv('../Reddit_Sentiments_SpecificEmotions/anti_lockdown_comments.csv')
r2_top = pd.read_csv('../Reddit_Sentiments_SpecificEmotions/corona_lockdown_comments.csv')
r3_top = pd.read_csv('../Reddit_Sentiments_SpecificEmotions/covid19_lockdown_comments.csv')

In [91]:
overall_tm = pd.read_csv('../Reddit_Topic_Modelling/output/reddit_overall_dominant_topics.csv')

In [92]:
r1.drop(columns=['Unnamed: 0.1','Unnamed: 0','cluster'], inplace=True)
r2.drop(columns=['Unnamed: 0.1','Unnamed: 0','cluster'], inplace=True)
r3.drop(columns=['Unnamed: 0.1','Unnamed: 0','cluster'], inplace=True)

In [93]:
r1 = r1[r1.comment != "remov"]
r2 = r2[r2.comment != "remov"]
r3 = r3[r3.comment != "remov"]

In [94]:
r1[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = r1_top[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]
r2[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = r2_top[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]
r3[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = r3_top[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]

In [95]:
overall_tm.tail()

,Unnamed: 0,Document_No,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text
11576,11576,11576,2.0,0.3971,"people, time, think, make, work, go, much, tes...","['economic', 'analysis', 'economic', 'decision..."
11577,11577,11577,0.0,0.3321,"case, death, country, need, even, spread, vacc...","['sub', 'seem', 'attract', 'poster', 'late', '..."
11578,11578,11578,3.0,0.4027,"know, get, good, seem, month, place, report, m...","['true', 'sub', 'community', 'hover', 'certain..."
11579,11579,11579,2.0,0.3312,"people, time, think, make, work, go, much, tes...","['fortunately', 'model', 'ihme', 'capable', 'm..."
11580,11580,11580,0.0,0.3245,"case, death, country, need, even, spread, vacc...","['fortunately', 'model', 'ihme', 'capable', 'm..."

In [96]:
reddit_dfs = [r1, r2, r3]
reddit = pd.concat(reddit_dfs, ignore_index=True)

In [98]:
reddit[['Dominant_Topic','Topic_Perc_Contrib','Keywords']] = overall_tm[['Dominant_Topic','Topic_Perc_Contrib','Keywords']]

In [99]:
reddit.columns = (reddit.columns.str.replace(' ', '_', regex=True).str.lower())

In [100]:
reddit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11581 entries, 0 to 11580
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          11581 non-null  object
 1   author                      11581 non-null  object
 2   title                       11581 non-null  object
 3   score                       11581 non-null  int64
 4   comms_num                   11581 non-null  int64
 5   created                     11581 non-null  float64
 6   timestamp                   11581 non-null  object
 7   commenter                   9901 non-null   object
 8   comment                     11557 non-null  object
 9   top_lvl                     11581 non-null  int64
 10  sentiment_polarity          11581 non-null  float64
 11  sentiment_polarity_summary  11581 non-null  object
 12  top_emotion                 11581 non-null  object
 13  top_emotion_score           11581 non-null  float64
 14  second_emotion              11581 non-null  object
 15  second_emotion_score        11581 non-null  float64
 16  third_emotion               11581 non-null  object
 17  third_emotion_score         11581 non-null  float64
 18  dominant_topic              11581 non-null  float64
 19  topic_perc_contrib          11581 non-null  float64
 20  keywords                    11581 non-null  object
dtypes: float64(7), int64(3), object(11)
memory usage: 1.9+ MB

In [101]:
reddit.to_json('./reddits_upload.json', orient="records")

### Reddit simplified

In [3]:
r1 = pd.read_csv('../Reddit_Data/Reddit_Coronavirus_Anti-Lockdown_100.csv')
r2 = pd.read_csv('../Reddit_Data/Reddit_Coronavirus_Lockdown_100.csv')
r3 = pd.read_csv('../Reddit_Data/Reddit_COVID19_Lockdown_100.csv')

In [8]:
reddit_dfs = [r1, r2, r3]
reddit = pd.concat(reddit_dfs, ignore_index=True)

In [10]:
reddit.drop(columns=['body'], inplace=True)

In [11]:
reddit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     300 non-null    object
 1   title      300 non-null    object
 2   score      300 non-null    int64
 3   id         300 non-null    object
 4   url        300 non-null    object
 5   comms_num  300 non-null    int64
 6   created    300 non-null    float64
 7   timestamp  300 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 18.9+ KB

In [12]:
reddit.to_json('./reddits_upload_simple.json', orient="records")

In [46]:
twitter = pd.read_json('./tweets_upload.json', orient="records")

In [47]:
twitter.to_csv('./tweets.csv')

In [48]:
twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11337 entries, 0 to 11336
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              11337 non-null  datetime64[ns, UTC]
 1   tweet_id              11337 non-null  int64
 2   text                  11337 non-null  object
 3   username              11337 non-null  object
 4   sentiment_score       11337 non-null  float64
 5   sentiment_label       11337 non-null  object
 6   rt_username           23 non-null     object
 7   tag_usernames         3617 non-null   object
 8   top_emotion           11337 non-null  object
 9   top_emotion_score     11337 non-null  float64
 10  second_emotion        11337 non-null  object
 11  second_emotion_score  11337 non-null  float64
 12  third_emotion         11337 non-null  object
 13  third_emotion_score   11337 non-null  float64
 14  dominant_topic        11337 non-null  int64
 15  topic_perc_contrib    11337 non-null  float64
 16  keywords              11337 non-null  object
dtypes: datetime64[ns, UTC](1), float64(5), int64(2), object(9)
memory usage: 1.5+ MB

In [15]:
twitter[['text','dominant_topic','keywords']]

,text,dominant_topic,keywords
0,Coronavirus: Washington state nursing home pla...,2,"ncov, put, spread, leave, case, first, quarant..."
1,@amybruni @JohnDePetroshow @NewportBuzz Someon...,1,"people, day, case, city, town, country, outbre..."
2,@luispedrocoelho Here's how the #coronavirus s...,0,"week, news, life, post, call, second, force, d..."
3,Tourists staying at a Tenerife hotel that has ...,2,"ncov, put, spread, leave, case, first, quarant..."
4,We don't have a clue.\r\nOnly thing we saw is ...,2,"ncov, put, spread, leave, case, first, quarant..."
...,...,...,...
11332,#pinup #pinupstyle #pinupfashion #mermaiddress...,2,"right, catch, people, need, case, go, due, say..."
11333,#pinup #pinupstyle #pinupfashion #mermaiddress...,1,"tune, drive, exclusive, skoda, soil, home, hel..."
11334,@agalbraith I think allowing “ sale of non-ess...,3,"day, stayhome, total, state, virus, spread, co..."
11335,@GlobalCalgary Str8 up clowning 🤡 and after lo...,2,"right, catch, people, need, case, go, due, say..."
11336,Alcohol consumption is a timely issues as the ...,1,"tune, drive, exclusive, skoda, soil, home, hel..."