In [19]:
import pandas as pd
import numpy as np
import re

### Tweets sentiment & topic_modelling

In [20]:
Jan_Mar = pd.read_csv('../Twitter_Sentiments/Twitter_Jan_Mar_Sentiments.csv')
Mar = pd.read_csv('../Twitter_Sentiments/Twitter_Mar_Sentiments.csv')
May_Nov = pd.read_csv('../Twitter_Sentiments/Twitter_May_Nov_Sentiments.csv')

In [21]:
Jan_Mar_top = pd.read_csv('../Twitter_Sentiments_SpecificEmotions/Twitter_Jan_Mar_5000.csv')
Mar_top = pd.read_csv('../Twitter_Sentiments_SpecificEmotions/Twitter_Mar_5000.csv')
May_Nov_top = pd.read_csv('../Twitter_Sentiments_SpecificEmotions/Twitter_May_Nov_5000.csv')

In [22]:
Jan_Mar_tm = pd.read_csv('../Twitter_Topic_Modelling/output/jan_mar.csv')
Mar_tm = pd.read_csv('../Twitter_Topic_Modelling/output/mar.csv')
May_Nov_tm = pd.read_csv('../Twitter_Topic_Modelling/output/may_nov.csv')

In [23]:
Jan_Mar.drop(columns=['processed_text','Coordinates','Place'], inplace=True)
Mar.drop(columns=['processed_text','Coordinates','Place'], inplace=True)
May_Nov.drop(columns=['processed_text','Coordinates','Place'], inplace=True)

In [24]:
Jan_Mar[['rt_username','tag_usernames']] = pd.DataFrame([[np.nan, '']], index=Jan_Mar.index)
Mar[['rt_username','tag_usernames']] = pd.DataFrame([[np.nan, '']], index=Mar.index)
May_Nov[['rt_username','tag_usernames']] = pd.DataFrame([[np.nan, '']], index=May_Nov.index)

In [25]:
for i, row in Jan_Mar.iterrows():
    # retweets
    regex_rt = r'RT[ ]*(@[A-Za-z0-9_]+)'
    match = re.search(regex_rt, row['Text'])
    if match:
        sub_string = match.group()
        Jan_Mar.loc[i, 'rt_username'] = sub_string[4:]
    else:
        # tags
        regex_tags = r'@[A-Za-z0-9_]+'
        matches = re.findall(regex_tags, row['Text'])
        if matches:
            Jan_Mar.at[i, 'tag_usernames'] = [s[1:] for s in matches]

In [26]:
for i, row in Mar.iterrows():
    # retweets
    regex_rt = r'RT[ ]*(@[A-Za-z0-9_]+)'
    match = re.search(regex_rt, row['Text'])
    if match:
        sub_string = match.group()
        Mar.loc[i, 'rt_username'] = sub_string[4:]
    else:
        # tags
        regex_tags = r'@[A-Za-z0-9_]+'
        matches = re.findall(regex_tags, row['Text'])
        if matches:
            Mar.at[i, 'tag_usernames'] = [s[1:] for s in matches]

In [27]:
for i, row in May_Nov.iterrows():
    # retweets
    regex_rt = r'RT[ ]*(@[A-Za-z0-9_]+)'
    match = re.search(regex_rt, row['Text'])
    if match:
        sub_string = match.group()
        May_Nov.loc[i, 'rt_username'] = sub_string[4:]
    else:
        # tags
        regex_tags = r'@[A-Za-z0-9_]+'
        matches = re.findall(regex_tags, row['Text'])
        if matches:
            May_Nov.at[i, 'tag_usernames'] = [s[1:] for s in matches]

In [28]:
Jan_Mar['tag_usernames'] = Jan_Mar['tag_usernames'].replace('', np.nan)
Mar['tag_usernames'] = Mar['tag_usernames'].replace('', np.nan)
May_Nov['tag_usernames'] = May_Nov['tag_usernames'].replace('', np.nan)

In [29]:
Jan_Mar[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = Jan_Mar_top[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]
Mar[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = Mar_top[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]
May_Nov[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = May_Nov_top[['Datetime','top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]

In [30]:
Jan_Mar[['Dominant_Topic','Topic_Perc_Contrib','Keywords']] = Jan_Mar_tm[['Dominant_Topic','Topic_Perc_Contrib','Keywords']]
Mar[['Dominant_Topic','Topic_Perc_Contrib','Keywords']] = Mar_tm[['Dominant_Topic','Topic_Perc_Contrib','Keywords']]
May_Nov[['Dominant_Topic','Topic_Perc_Contrib','Keywords']] = May_Nov_tm[['Dominant_Topic','Topic_Perc_Contrib','Keywords']]

In [31]:
May_Nov.head(1)

,Tweet Id,Text,Username,sentiment_score,sentiment_label,rt_username,tag_usernames,Datetime,top_emotion,top_emotion_score,second_emotion,second_emotion_score,third_emotion,third_emotion_score,Dominant_Topic,Topic_Perc_Contrib,Keywords
0,1333198979224399873,@nspector4 @keithbaldrey France initiated dras...,Teelin,0.0,neutral,NaN,"[nspector4, keithbaldrey]",2020-11-29 23:59:40+00:00,realization,0.995364,approval,0.002405,neutral,0.000781,2.0,0.3965,"right, catch, people, need, case, go, due, say..."

In [32]:
tweet_dfs = [Jan_Mar, Mar, May_Nov]
tweet = pd.concat(tweet_dfs, ignore_index=True)

In [33]:
tweet.columns = (tweet.columns.str.replace(' ', '_', regex=True).str.lower())

In [34]:
tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11337 entries, 0 to 11336
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tweet_id              11337 non-null  int64
 1   text                  11337 non-null  object
 2   username              11337 non-null  object
 3   sentiment_score       11337 non-null  float64
 4   sentiment_label       11337 non-null  object
 5   rt_username           23 non-null     object
 6   tag_usernames         3617 non-null   object
 7   datetime              11337 non-null  object
 8   top_emotion           11337 non-null  object
 9   top_emotion_score     11337 non-null  float64
 10  second_emotion        11337 non-null  object
 11  second_emotion_score  11337 non-null  float64
 12  third_emotion         11337 non-null  object
 13  third_emotion_score   11337 non-null  float64
 14  dominant_topic        11337 non-null  float64
 15  topic_perc_contrib    11337 non-null  float64
 16  keywords              11337 non-null  object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.5+ MB

In [35]:
# May_Nov["Place"][May_Nov["Place"].isnull() == False][31]
# May_Nov[May_Nov["Place"].isnull() == False]['Place'] = May_Nov[May_Nov["Place"].isnull() == False]['Place'].str.replace({'Place': '', '(': '{', ')': '}', '=': ':'}, regex=True)

In [36]:
tweet.to_json('./tweets_upload.json', orient="records")

### Reddit

In [63]:
r1 = pd.read_csv('../Reddit_Sentiments/antilockdown_sentiments.csv')
r2 = pd.read_csv('../Reddit_Sentiments/corona_sentiments.csv')
r3 = pd.read_csv('../Reddit_Sentiments/covid19_sentiments.csv')

In [64]:
r1_top = pd.read_csv('../Reddit_Sentiments_SpecificEmotions/anti_lockdown_comments.csv')
r2_top = pd.read_csv('../Reddit_Sentiments_SpecificEmotions/corona_lockdown_comments.csv')
r3_top = pd.read_csv('../Reddit_Sentiments_SpecificEmotions/covid19_lockdown_comments.csv')

In [65]:
overall_tm = pd.read_csv('../Reddit_Topic_Modelling/output/reddit_overall_dominant_topics.csv')

In [66]:
r1.drop(columns=['Unnamed: 0.1','Unnamed: 0','cluster'], inplace=True)
r2.drop(columns=['Unnamed: 0.1','Unnamed: 0','cluster'], inplace=True)
r3.drop(columns=['Unnamed: 0.1','Unnamed: 0','cluster'], inplace=True)

In [67]:
r1 = r1[r1.comment != "[removed]"]
r2 = r2[r2.comment != "[removed]"]
r3 = r3[r3.comment != "[removed]"]

In [68]:
r1[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = r1_top[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]
r2[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = r2_top[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]
r3[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']] = r3_top[['top_emotion','top_emotion_score','second_emotion','second_emotion_score', 'third_emotion','third_emotion_score']]

In [69]:
overall_tm.tail()

,Unnamed: 0,Document_No,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text
11576,11576,11576,2.0,0.3971,"people, time, think, make, work, go, much, tes...","['economic', 'analysis', 'economic', 'decision..."
11577,11577,11577,0.0,0.3321,"case, death, country, need, even, spread, vacc...","['sub', 'seem', 'attract', 'poster', 'late', '..."
11578,11578,11578,3.0,0.4027,"know, get, good, seem, month, place, report, m...","['true', 'sub', 'community', 'hover', 'certain..."
11579,11579,11579,2.0,0.3312,"people, time, think, make, work, go, much, tes...","['fortunately', 'model', 'ihme', 'capable', 'm..."
11580,11580,11580,0.0,0.3245,"case, death, country, need, even, spread, vacc...","['fortunately', 'model', 'ihme', 'capable', 'm..."

In [70]:
r3.tail()

,id,author,title,score,comms_num,created,timestamp,commenter,comment,top_lvl,sentiment_polarity,sentiment_polarity_summary,top_emotion,top_emotion_score,second_emotion,second_emotion_score,third_emotion,third_emotion_score
885,g8dyy2,StudentjeNL,When to release the lockdown: A wellbeing fram...,231,314,1.587906e+09,2020-04-26 21:02:11,McGloin_the_GOAT,thi econom analysi econom decis made margin me...,0,0.2960,positive,sadness,0.995242,disapproval,0.000937,neutral,0.000924
886,g8dyy2,StudentjeNL,When to release the lockdown: A wellbeing fram...,231,314,1.587906e+09,2020-04-26 21:02:11,Zamaamiro,thi sub seem attract r lockdownskeptic poster ...,1,0.2732,neutral,approval,0.994966,disapproval,0.003410,neutral,0.000214
887,g8dyy2,StudentjeNL,When to release the lockdown: A wellbeing fram...,231,314,1.587906e+09,2020-04-26 21:02:11,NaN,i say true thi sub like commun hover around ce...,0,0.9607,positive,disapproval,0.976895,approval,0.008326,neutral,0.007174
888,g8dyy2,StudentjeNL,When to release the lockdown: A wellbeing fram...,231,314,1.587906e+09,2020-04-26 21:02:11,jphamlore,fortun anoth model ihm capabl make precis reco...,1,0.4939,positive,surprise,0.710823,disapproval,0.182452,neutral,0.040365
889,g8dyy2,StudentjeNL,When to release the lockdown: A wellbeing fram...,231,314,1.587906e+09,2020-04-26 21:02:11,olddog321,fortun anoth model ihm capabl make precis reco...,0,-0.0258,neutral,approval,0.992664,admiration,0.001139,neutral,0.001137

In [71]:
reddit_dfs = [r1, r2, r3]
reddit = pd.concat(reddit_dfs, ignore_index=True)

In [59]:
reddit[['Dominant_Topic','Topic_Perc_Contrib','Keywords']] = overall_tm[['Dominant_Topic','Topic_Perc_Contrib','Keywords']]

In [60]:
reddit.columns = (reddit.columns.str.replace(' ', '_', regex=True).str.lower())

In [72]:
reddit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12175 entries, 0 to 12174
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          12175 non-null  object
 1   author                      12175 non-null  object
 2   title                       12175 non-null  object
 3   score                       12175 non-null  int64
 4   comms_num                   12175 non-null  int64
 5   created                     12175 non-null  float64
 6   timestamp                   12175 non-null  object
 7   commenter                   9901 non-null   object
 8   comment                     12151 non-null  object
 9   top_lvl                     12175 non-null  int64
 10  sentiment_polarity          12175 non-null  float64
 11  sentiment_polarity_summary  12175 non-null  object
 12  top_emotion                 12175 non-null  object
 13  top_emotion_score           12175 non-null  float64
 14  second_emotion              12175 non-null  object
 15  second_emotion_score        12175 non-null  float64
 16  third_emotion               12175 non-null  object
 17  third_emotion_score         12175 non-null  float64
dtypes: float64(5), int64(3), object(10)
memory usage: 1.7+ MB

In [62]:
reddit.to_json('./reddits_upload.json', orient="records")