In [2]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_excel("./Twitter_Data_Chinese/en.Twitter_May_June_2022_5000_chinese.xlsx")

In [46]:
df.head()

,Unnamed: 0,Datetime,Tweet Id,text,usernames,Stomach,Place
0,0,2022-05-31 23:38:42 + 00:00,1531782249464537088,Shanghai announced a complete restart of the c...,Wufanus,NaN,NaN
1,1,2022-05-31 23:10:59 + 00:00,1531775274085490690,"On May 29, Shanghai held a press conference on...",Jessie2021626,NaN,NaN
2,2,2022-05-31 22:39:12 + 00:00,1531767276453568512,@peterliu2121 @8DTzwKSsKMmEwNV @firelemond @Re...,gwrcc6guukw7iyc,NaN,NaN
3,3,2022-05-31 21:43:20 + 00:00,1531753217633071104,Is the Shanghai epidemic really over? \n\n#盘古时...,ez2p8,NaN,NaN
4,4,2022-05-31 21:38:33 + 00:00,1531752016183103488,The Shanghai government “The Shanghai governme...,ecpp7jhczja8ct3,NaN,NaN

In [47]:
df = df.iloc[: , 1:]
df = df.rename(columns = {'Stomach':'Coordinates'})
df.head()

,Datetime,Tweet Id,text,usernames,Coordinates,Place
0,2022-05-31 23:38:42 + 00:00,1531782249464537088,Shanghai announced a complete restart of the c...,Wufanus,NaN,NaN
1,2022-05-31 23:10:59 + 00:00,1531775274085490690,"On May 29, Shanghai held a press conference on...",Jessie2021626,NaN,NaN
2,2022-05-31 22:39:12 + 00:00,1531767276453568512,@peterliu2121 @8DTzwKSsKMmEwNV @firelemond @Re...,gwrcc6guukw7iyc,NaN,NaN
3,2022-05-31 21:43:20 + 00:00,1531753217633071104,Is the Shanghai epidemic really over? \n\n#盘古时...,ez2p8,NaN,NaN
4,2022-05-31 21:38:33 + 00:00,1531752016183103488,The Shanghai government “The Shanghai governme...,ecpp7jhczja8ct3,NaN,NaN

In [48]:
df.to_csv("./Twitter_Data_Chinese/en.Twitter_May_June_2022_5000_chinese.csv", index=False)