In [20]:
import pandas as pd
import numpy as np
import re

In [44]:
df = pd.read_excel("./Twitter_Data_Chinese/en.Twitter_May_June_2022_5000_chinese.xlsx")

In [45]:
# df['Text'] = df['Text'].str.replace('#',' ')
# df['original_text'] = df['original_text'].str.replace('#',' ')

In [46]:
df.head()

,Datetime,Tweet Id,text,usernames,Stomach,Place
0,2022-05-31 23:38:42 + 00:00,1531782249464537088,Shanghai announced a complete restart of the c...,Wufanus,NaN,NaN
1,2022-05-31 23:10:59 + 00:00,1531775274085490690,"On May 29, Shanghai held a press conference on...",Jessie2021626,NaN,NaN
2,2022-05-31 22:39:12 + 00:00,1531767276453568512,@peterliu2121 @8DTzwKSsKMmEwNV @firelemond @Re...,gwrcc6guukw7iyc,NaN,NaN
3,2022-05-31 21:43:20 + 00:00,1531753217633071104,Is the Shanghai epidemic really over? \n\nPang...,ez2p8,NaN,NaN
4,2022-05-31 21:38:33 + 00:00,1531752016183103488,The Shanghai government “The Shanghai governme...,ecpp7jhczja8ct3,NaN,NaN

In [54]:
text = df['text'].tolist()

In [49]:
temp = []

In [50]:
for t in text:
    te = re.sub(r'[\u4e00-\u9fff]+','',str(t))
    temp.append(te)

In [55]:
for t in text:
    find = re.findall(r'[\u4e00-\u9fff]+',str(t))
    if find:
        print(find)

In [52]:
df['text'] = temp

In [56]:
df.to_csv("./Twitter_Data_Chinese/en.Twitter_May_June_2022_5000_chinese.csv", index=False)

In [ ]:
# df = df.iloc[: , 1:]
# df = df.rename(columns = {'Stomach':'Coordinates'})
# df.head()

In [ ]:
# df.to_csv("./Twitter_Data_Chinese/en.Twitter_May_June_2022_5000_chinese.csv", index=False)