In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Twitter_Jan_Mar_5000.csv')
df1

,Datetime,Tweet Id,Text,Username,Coordinates,Place
0,2020-03-01 23:54:33+00:00,1234265800363646982,Coronavirus: Washington state nursing home pla...,Asitseemstome,NaN,NaN
1,2020-03-01 23:16:50+00:00,1234256311606489089,@amybruni @JohnDePetroshow @NewportBuzz Someon...,LaGringaLoca666,NaN,NaN
2,2020-03-01 23:16:01+00:00,1234256103090933760,@luispedrocoelho Here's how the #coronavirus s...,NccAcc,NaN,NaN
3,2020-03-01 22:46:54+00:00,1234248779504726017,Tourists staying at a Tenerife hotel that has ...,Apex_WW,NaN,NaN
4,2020-03-01 22:45:18+00:00,1234248374720835584,We don't have a clue.\nOnly thing we saw is Ch...,AnjaLenaerts,NaN,NaN
...,...,...,...,...,...,...
1330,2020-02-11 22:23:18+00:00,1227357468042387464,I feel for the people on lockdown from the cor...,itsSamEm,NaN,NaN
1331,2020-02-11 22:19:29+00:00,1227356509727797250,#CZ311 #China Southern #Airlines #Guangzhou\n#...,K_B79,NaN,NaN
1332,2020-02-11 22:18:28+00:00,1227356253338423298,"Where did those 60,000 people in Wuhan go befo...",paiement_steve,NaN,NaN
1333,2020-02-11 19:22:52+00:00,1227312062164078595,‚ÄòShould We Leave?‚Äô Life in China Under Coronav...,iChinadian,NaN,NaN
1334,2020-02-11 18:01:07+00:00,1227291486598787072,@BNODesk #covid19 ? Well done...\nCo: Communis...,Balistta,NaN,NaN

In [5]:
coord = df1[df1['Coordinates'].isnull() == False]
print(len(coord))
coord

26

,Datetime,Tweet Id,Text,Username,Coordinates,Place
46,2020-03-01 13:11:57+00:00,1234104088817754113,"Matt Hancock, Secret√°rio da Sa√∫de do Reino Uni...",ofelipeb,"Coordinates(longitude=-43.795449, latitude=-23...","Place(id='97bcdfca1a2dca59', fullName='Rio de ..."
71,2020-02-29 21:19:46+00:00,1233864463343869952,@BrianBeardo @HMunro2020 @SheilaGunnReid @Rebe...,tony_ama3323,"Coordinates(longitude=-78.959206, latitude=43....","Place(id='2615344c84ed87ee', fullName='Oshawa,..."
96,2020-02-29 09:18:12+00:00,1233682874018254848,"Broken towel dispenser in restroom today, I jo...",djchrisallen,"Coordinates(longitude=-87.688182, latitude=41....","Place(id='70afe532ae3988fb', fullName='Lower W..."
101,2020-02-29 04:37:54+00:00,1233612335081648130,ICYMI - @SCMPNews Post Magazine multimedia lon...,DavidMooreSCMP,"Coordinates(longitude=114.1099112, latitude=22...","Place(id='011a1d1e753ec5a8', fullName='Central..."
158,2020-02-28 05:50:08+00:00,1233268124473888769,Post Magazine long read by 5 reporters who wer...,DavidMooreSCMP,"Coordinates(longitude=114.163389, latitude=22....","Place(id='01cb3bd54f92388e', fullName='Wan Cha..."
202,2020-02-27 07:14:55+00:00,1232927071581532162,Seeing all of my friends in korea on lockdown ...,doubleraebow,"Coordinates(longitude=-158.090162, latitude=21...","Place(id='23d2e7d8f1470c99', fullName='Schofie..."
296,2020-02-26 01:07:14+00:00,1232472154161041408,"Sigh. This poor little kid.. Separately, the l...",GaoYuan86,"Coordinates(longitude=115.421372, latitude=39....","Place(id='01120f703ae9184a', fullName=""Beijing..."
395,2020-02-25 10:38:45+00:00,1232253592435908608,"A #Tenerife hotel is now in lockdown, with sec...",GavinLeeNews,"Coordinates(longitude=4.3139889, latitude=50.7...","Place(id='0653bb913c88c1ea', fullName='Brussel..."
443,2020-02-24 23:45:27+00:00,1232089184682246146,Econ damages of #COVID19 massive. If not Healt...,LawrenceGostin,"Coordinates(longitude=-77.287868, latitude=38....","Place(id='dc234665a759a05d', fullName='McLean,..."
466,2020-02-24 19:16:55+00:00,1232021606270193664,poi dicono che esagero vabbe‚Äô! che sia un viru...,ViviCas,"Coordinates(longitude=32.6090927, latitude=27....","Place(id='0059d5d735b78b94', fullName='South S..."
471,2020-02-24 18:23:45+00:00,1232008226704629760,#China‚Äôs #Wuhan #lockdown helped limit global ...,davi326,"Coordinates(longitude=-2.6998592, latitude=50....","Place(id='5d683b057066f626', fullName='Harding..."
492,2020-02-24 14:59:09+00:00,1231956739387297792,People Turn To Group-Buying Services As #Coron...,HealthwireMedia,"Coordinates(longitude=76.84252, latitude=28.39...","Place(id='317fcc4b21a604d5', fullName='New Del..."
527,2020-02-24 10:25:54+00:00,1231887970770333697,#Coronavirus : Rapid spread raises fears of gl...,ayokasystems,"Coordinates(longitude=-97.538285, latitude=32....","Place(id='42e46bc3663a4b5f', fullName='Fort Wo..."
542,2020-02-24 07:57:52+00:00,1231850718593765382,#Wuhan on lockdown again after some restrictio...,SteveGPickering,"Coordinates(longitude=12.3914781, latitude=55....","Place(id='718be4f797a12c84', fullName='Rudersd..."
596,2020-02-23 23:10:27+00:00,1231717991059984387,"10 milh√µes de pessoas sob lockdown, na regi√£o ...",ofelipeb,"Coordinates(longitude=-43.795449, latitude=-23...","Place(id='97bcdfca1a2dca59', fullName='Rio de ..."
645,2020-02-23 15:28:17+00:00,1231601681860829184,#XiJinping assumindo que a crise est√° al√©m da ...,ofelipeb,"Coordinates(longitude=-43.795449, latitude=-23...","Place(id='97bcdfca1a2dca59', fullName='Rio de ..."
777,2020-02-22 15:51:03+00:00,1231245020868550657,ü¶†üò∑üáÆüáπ Italian towns on #lockdown after 2 virus ...,DemographicDoom,"Coordinates(longitude=-99.147605, latitude=40....","Place(id='af9a31eae0eac9a0', fullName='Kearney..."
835,2020-02-22 00:12:28+00:00,1231008820815486976,Stranded Film Crew Made A Chilling Short Docu ...,ManishSharma_au,"Coordinates(longitude=103.749959507073, latitu...","Place(id='58a4c3a0d54e1400', fullName='Central..."
911,2020-02-20 13:48:58+00:00,1230489522267443200,#COVID19\n#Wuhan\nThe Long Night\nMovie of the...,Karl_Pichler,"Coordinates(longitude=8.636523, latitude=51.65...","Place(id='22d94483ac653861', fullName='Paderbo..."
996,2020-02-18 09:23:29+00:00,1229697937707589632,J√° parou para pensar o que significa 780 milh√µ...,ofelipeb,"Coordinates(longitude=-43.795449, latitude=-23...","Place(id='97bcdfca1a2dca59', fullName='Rio de ..."
1032,2020-02-17 14:51:38+00:00,1229418131346612224,A sign of the types of #crime to come! #armedr...,CllrJay,"Coordinates(longitude=0.414342, latitude=50.83...","Place(id='7a8cafd3d53ff18d', fullName='Bexhill..."
1043,2020-02-17 09:25:04+00:00,1229335949194252288,#China lulls us into believing that #coronavir...,SteveGPickering,"Coordinates(longitude=12.3914781, latitude=55....","Place(id='718be4f797a12c84', fullName='Rudersd..."
1179,2020-02-14 20:02:17+00:00,1228409145772118017,8 avi√µes em lockdown no aeroporto de Heathrow:...,ofelipeb,"Coordinates(longitude=-43.795449, latitude=-23...","Place(id='97bcdfca1a2dca59', fullName='Rio de ..."
1227,2020-02-14 00:16:00+00:00,1228110605464358912,The People‚Äôs Daily: thoughtfully sharing craft...,CScottFCDO,"Coordinates(longitude=115.421372, latitude=39....","Place(id='01120f703ae9184a', fullName=""Beijing..."
1257,2020-02-13 14:22:00+00:00,1227961120440360960,What crap man üë® is this a way in #China to sp...,imnitinschauhan,"Coordinates(longitude=103.817832999913, latitu...","Place(id='5f1f473ed6455f55', fullName='North-E..."
1272,2020-02-13 10:58:59+00:00,1227910028994023424,"S∆°n L√¥i, a village 40kms or 2hrs drive north o...",marcbbatac,"Coordinates(longitude=105.290653, latitude=20....","Place(id='0192af60292eace8', fullName='Hanoi, ..."

In [6]:
df2 = pd.read_csv('Twitter_Mar_5000.csv')
df2

,Datetime,Tweet Id,Text,Username,Coordinates,Place
0,2020-03-29 23:59:29+00:00,1244413906195484672,my partner got an AxiDraw shortly before covid...,JFriedhoff,NaN,NaN
1,2020-03-29 23:58:54+00:00,1244413758971273216,Lets ask @Tuface__idibia who is more closer to...,Braxcool,NaN,NaN
2,2020-03-29 23:58:24+00:00,1244413629811884034,With this lockdown we will all end up mental o...,ONELOVEAVFC,NaN,NaN
3,2020-03-29 23:58:18+00:00,1244413607720275969,Sekarang saya amati yg bertentangan adalah pem...,Raden_ahsan,NaN,NaN
4,2020-03-29 23:57:58+00:00,1244413522576060421,‚ÄºÔ∏èWHOA. &gt;3.38 billion people worldwide are ...,DrDenaGrayson,NaN,NaN
...,...,...,...,...,...,...
4996,2020-03-29 08:31:43+00:00,1244180424651399168,just think about it a minute: #covid19 spreads...,thegr8mindset,NaN,NaN
4997,2020-03-29 08:31:41+00:00,1244180415423721473,Lockdown #Day3 #CoronaLockdown\n#Covid19\nWhat...,SkyeMacArthur,NaN,NaN
4998,2020-03-29 08:31:23+00:00,1244180339892858881,Stop the Spread of COVID19 #tsaiswt #samniswt ...,SAMNISWT,NaN,NaN
4999,2020-03-29 08:31:23+00:00,1244180339485892608,#COVID19 Lockdown Means #IndiaFightsCorona htt...,SatyaPChanchal,"Coordinates(longitude=82.671054, latitude=25.1...","Place(id='7519d5ef0b317d8f', fullName='Varanas..."
5000,2020-03-29 08:31:20+00:00,1244180326957498368,No #covid19 lockdown on our exclusives. Tune i...,hormazdsorabjee,NaN,NaN

In [7]:
coord = df2[df2['Coordinates'].isnull() == False]
print(len(coord))
coord

324

,Datetime,Tweet Id,Text,Username,Coordinates,Place
52,2020-03-29 23:34:23+00:00,1244407588579573760,Coronavirus lockdown sees renewed interest in ...,MorigMark,"Coordinates(longitude=-82.069567, latitude=26....","Place(id='fbd1502e5edce6bf', fullName='Cape Co..."
72,2020-03-29 23:27:48+00:00,1244405930990632961,We're launching 'COVID-19 Response Fund (CRF) ...,oaaigbe,"Coordinates(longitude=7.3045544, latitude=8.96...","Place(id='00e55e2b4c491c5f', fullName='Abuja, ..."
77,2020-03-29 23:26:09+00:00,1244405513514868738,STAY SAFE #lockdown #goodvibes #retweet #repos...,Cokesbaba,"Coordinates(longitude=6.7786135, latitude=8.45...","Place(id='01c46739344ba9f6', fullName='Federal..."
82,2020-03-29 23:23:25+00:00,1244404828404617216,Isolation Illustration - Missing (I‚Äôm missing ...,NATHANJAMESPAGE,"Coordinates(longitude=0.57787, latitude=50.85711)","Place(id='3a39f348d4d697fb', fullName='Hasting..."
102,2020-03-29 23:14:41+00:00,1244402629976842240,STAY SAFE #lockdown #goodvibes #retweet #repos...,Cokesbaba,"Coordinates(longitude=7.16666667, latitude=8.8...","Place(id='01c46739344ba9f6', fullName='Federal..."
...,...,...,...,...,...,...
4955,2020-03-29 08:40:48+00:00,1244182711318630400,That is how i spent my sunday during #Covid19 ...,bharat_2747,"Coordinates(longitude=71.916527, latitude=21.4...","Place(id='3bd562f941fa780c', fullName='Bhavnag..."
4975,2020-03-29 08:35:42+00:00,1244181425559146497,"Lucy Hua who loves in China, in a city that ha...",GregCantyFuzion,"Coordinates(longitude=-10.2254601, latitude=51...","Place(id='c500c6f8494a90ac', fullName='Cork, I..."
4979,2020-03-29 08:35:25+00:00,1244181355405156353,@motswedingfm \n@JdsolM \n#Iketleng\n#Covid19L...,Rider_KC4Life36,"Coordinates(longitude=27.1197682, latitude=-25...","Place(id='824bcfd389683242', fullName='Rustenb..."
4987,2020-03-29 08:33:56+00:00,1244180980753223680,Precautions against CoVID19-\nAvoid touching y...,yutikanatural,"Coordinates(longitude=75.8655, latitude=22.7253)","Place(id='4a00f902bee39847', fullName='Indore,..."
4999,2020-03-29 08:31:23+00:00,1244180339485892608,#COVID19 Lockdown Means #IndiaFightsCorona htt...,SatyaPChanchal,"Coordinates(longitude=82.671054, latitude=25.1...","Place(id='7519d5ef0b317d8f', fullName='Varanas..."

In [8]:
df3 = pd.read_csv('Twitter_May_Nov_5000.csv')
df3

,Datetime,Tweet Id,Text,Username,Coordinates,Place
0,2020-11-29 23:59:40+00:00,1333198979224399873,@nspector4 @keithbaldrey France initiated dras...,Teelin,NaN,NaN
1,2020-11-29 23:58:54+00:00,1333198786475286528,@ClareCraigPath Drosten paper @WHO relied on t...,mdfdvntrs,NaN,NaN
2,2020-11-29 23:57:50+00:00,1333198514453671937,@Amelia28938902 Drosten paper @WHO relied on t...,mdfdvntrs,NaN,NaN
3,2020-11-29 23:57:28+00:00,1333198421692395521,@SJL99 @BorisJohnson @MattHancock Drosten pape...,mdfdvntrs,NaN,NaN
4,2020-11-29 23:56:54+00:00,1333198282592546818,@VeganaHedgehog @TheSun @Telegraph @DailyMailU...,mdfdvntrs,NaN,NaN
...,...,...,...,...,...,...
4996,2020-11-24 22:02:18+00:00,1331357500537405441,#pinup #pinupstyle #pinupfashion #mermaiddress...,MissVintageVan,NaN,NaN
4997,2020-11-24 22:01:41+00:00,1331357345637572609,#pinup #pinupstyle #pinupfashion #mermaiddress...,MissVintageVan,NaN,NaN
4998,2020-11-24 22:00:59+00:00,1331357169573302274,@agalbraith I think allowing ‚Äú sale of non-ess...,kouk_nadene,NaN,NaN
4999,2020-11-24 22:00:18+00:00,1331356996717539332,@GlobalCalgary Str8 up clowning ü§° and after lo...,CheddarCollecta,NaN,NaN
5000,2020-11-24 22:00:11+00:00,1331356970331193345,Alcohol consumption is a timely issues as the ...,MonashHealthLib,NaN,NaN

In [9]:
coord = df3[df3['Coordinates'].isnull() == False]
print(len(coord))
coord

174

,Datetime,Tweet Id,Text,Username,Coordinates,Place
31,2020-11-29 23:00:23+00:00,1333184058541682692,Are you up to date on the latest #COVID19 meas...,CityBrampton,"Coordinates(longitude=-79.7507584, latitude=43...","Place(id='1f4df2b4746ddea7', fullName='Brampto..."
50,2020-11-29 22:20:33+00:00,1333174031764295680,A√≠ teremos ano novo antecipado e depois o lock...,TresbertoM98,"Coordinates(longitude=-34.9738347, latitude=-7...","Place(id='c9f2f46c0d1b963d', fullName='Jo√£o Pe..."
66,2020-11-29 21:52:54+00:00,1333167077390249994,"Pronto elei√ß√µes finalizando, vamos aguardar o ...",TresbertoM98,"Coordinates(longitude=-34.9738347, latitude=-7...","Place(id='c9f2f46c0d1b963d', fullName='Jo√£o Pe..."
78,2020-11-29 21:33:13+00:00,1333162123149586432,When you know you can't go home for #Christmas...,SoNieuf,"Coordinates(longitude=-2.659936, latitude=51.3...","Place(id='7f15dd80ac78ef40', fullName='Bristol..."
110,2020-11-29 21:00:27+00:00,1333153876757909508,Since the beginning of lockdown 23/03/20 in th...,JamieByronCSM,"Coordinates(longitude=-2.454026, latitude=53.4...","Place(id='31fffbe34de66921', fullName='Salford..."
...,...,...,...,...,...,...
4923,2020-11-24 23:32:22+00:00,1331380166237405185,@murpharoo @naamanzhou Why does it matter how ...,willicash,"Coordinates(longitude=144.593741856, latitude=...","Place(id='01864a8a64df9dc4', fullName='Melbour..."
4941,2020-11-24 22:55:18+00:00,1331370837639913474,Zie hier elke dag opnieuw enorm veel jongeren ...,Nick_VdBossche,"Coordinates(longitude=4.6403954, latitude=50.8...","Place(id='69ac35a51e92c734', fullName='Louvain..."
4959,2020-11-24 22:31:59+00:00,1331364970718765058,If lockdown really is a matter of life and dea...,annelisetv,"Coordinates(longitude=-1.7801245, latitude=55....","Place(id='796276970350eb47', fullName='Pontela..."
4965,2020-11-24 22:26:51+00:00,1331363678134874114,When you were looking forward to a full lockdo...,TheGubtodi,"Coordinates(longitude=-4.3932845, latitude=55....","Place(id='791e00bcadc4615f', fullName='Glasgow..."
4980,2020-11-24 22:11:25+00:00,1331359796025495553,Anyone else feel like the Xmas lockdown rules ...,dan_sayer89,"Coordinates(longitude=-0.1998635, latitude=51....","Place(id='10e71eb371d49619', fullName='Baldock..."